bumpversion==0.5.3
coverage==4.1
invoke==0.12.2
jsonpickle==0.9.3
lxml==3.5.0
py==1.4.31
Pygments==2.1.3
PyInstaller==3.1.1
requests==2.10.0
git+https://github.com/GandaG/fomod-validator.git@1f052859252f05048541bdc6f4baedd7320bec0e#egg=fomod-validator

-r docs-requirements.txt
